.icon {
  /* Icon */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;

  width: 82px;
  height: 82px;

  background: #dadee6;
  border-radius: 20px;
}

.icon img {
  width: 37.5px;
  height: 30px;
  background: none;
}
