/* main {
  margin-top: 6rem;
  margin-bottom: 6rem;
} */
/* header {
  box-sizing: border-box;
  padding-bottom: 2rem;
}
body {
  top: 6rem;
} */

/* body {
  display: flex;
  flex-direction: column;
} */
